Package: jp.r-plus.switchercleaner
Name: SwitcherCleaner
Depends: mobilesubstrate, firmware (>= 5.0), preferenceloader
Version: 1.2
Architecture: iphoneos-arm
Conflicts: removerecents
Description: Show only running apps with quit button for task switcher
Maintainer: r_plus
Author: r_plus <anasthasia.r+cleaner@gmail.com>
Section: Tweaks
dev: rplus
Tag: purpose::extension
Priority: optional
Icon: file:///Library/PreferenceLoader/Preferences/SwitcherCleaner@2x.png
